<p id="notice"><%= notice %></p>

<h2 class="admin_header" id="Admin">Welcome to Admin Site</h2>

<p class="admin_header">
  <% if @user %>
    <p>
      Logged in user: <%= @user.name %>
      <%= link_to 'Edit', edit_user_path(@user) %>
      <%= link_to 'Delete', @user, method: :delete %>
    </p>
  <% end %>
</p>
