
<h2 class="product_header">Editing Product</h2>

<div class="products_column">

<%= render 'form', product: @product %>

<!-- <%= link_to 'Show', @product %> | -->
<div class="back_button">
<%= link_to 'Back', products_path %>
</div>
</div>
