
<h2 class="product_header">New Product</h2>

<div class="products_column">

<%= render 'form', product: @product %>

<div class="back_button">
<%= link_to 'Back', products_path %>
</div>
</div>
