
  <p id="Home">
  </p>

  <p id="notice"><%= notice %></p>

<div id="search_box">
  <form>
    <input type="text" id="search_input" name="search"
    placeholder="Search.." onkeyup="allPowerfulSearchEngine()" >
  </form>
</div>

<%= render file: store_index_path %>
